.content {
    padding-top: 60px;
}

.register-form {
    background-color: #FFF;
    width: 30vw;
    height: 280px;
    border-radius: 8px;
    box-shadow: 2px 2px 1px gray;
}

.register-form__heading {
    background-color: rgb(48, 93, 255);
    color: #FFF;
    margin: 0px;
    border-radius: 8px 8px 0px 0px;
    padding: 15px;
    font-size: 15px;
}

.register-form__inner {
    display: block;
    padding: 25px;
}

.register-form__form {
    border-radius: 8px;
}

@media screen and (max-width: 1200px) {
    .register-form__form {
        width: 100%;
    }
}

.register-form__group {
    margin-bottom: 15px;
    display: flex;
}

.register-form__input {
    display: block;
    width: 100%;
    height: 35px;
    border: none;
    color: black;
    font-family: serif;
    border-bottom: 1px solid black;
}

.register-form__error-message {
    color: #FF9494;
}

.register-form-btn {
    width: 5vw;
    border-radius: 8px;
    background-color: rgb(33, 75, 224);
    color: white;
    height: 35px;
    font-size: 1.2vw;
    border: none;
    display: block;
    margin-left: auto;
}

.img-user {
    width: 30px;
    height: 30px;
    margin: 5px 5px 0 0;
}

.img-mail {
    width: 30px;
    height: 30px;
    margin: 5px 5px 0 0;
}

.img-lock {
    width: 30px;
    height: 30px;
    margin: 5px 5px 0 0;
}

@media (max-width: 768px) {
    .register-form {
        width: 70vw;
    }

    .register-form-btn {
        width: 10vw;
        font-size: 2.0vw;
    }
}