.feedback-group {
    padding: 0 6%;
    margin-bottom: 100px;
    display: flex;
    height: fit-content;
    width: 100%;
    position: relative;
}

.feedback-group-shop {
    width: 45%;
    margin-top: 75px;
    margin-right: 50px;
    padding-right: 50px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid gray;
}

.feedback-group__heading {
    width: 75%;
    font-size: 2.5vw;
    margin: 0 0 50px 0;
    text-align: left;
}

.shop-group {
    width: 25vw;
    height: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 1px gray;
    margin: 0 15px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shop-content {
    padding: 15px;
    background-color: white;
    border-radius: 8px;
}

.shop-content__text {
    font-weight: bold;
    font-size: 1.5vw;
    margin: 0;
}

.shop-content__detail {
    display: flex;
    text-decoration: none;
    padding: 0;
    margin: 7px 0 7px 0;
}

.shop-content-tag {
    padding: 0 10px 0 0;
    width: fit-content;
    font-size: 1vw;
}

.shop-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.shop-group-form {
    display: flex;
    justify-content: space-between;
}

.shop-group-btn {
    display: flex;
    justify-content: space-between;
}

.detail-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    border-radius: 8px;
    background-color: rgb(33, 75, 224);
    color: white;
    font-size: 1vw;
    border: none;
    white-space: nowrap;
}

.like-btn {
    width: 20%;
    background-color: white;
    height: 35px;
    font-size: 13px;
    border: none;
    content: '♡';
}

.like-logo {
    width: 60px;
    height: 60px;
    left: -50px;
    position: relative;
}

.like-logo::before,
.like-logo::after {
    content: "";
    position: absolute;
    top: -15px;
    width: 20px;
    height: 35px;
    background: rgb(214, 214, 214);
    border-radius: 100px 100px 0 0;

}

.like-logo::before {
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.like-logo::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.like-logo--red {
    width: 60px;
    height: 60px;
    left: -50px;
    position: relative;
}

.like-logo--red::before,
.like-logo--red::after {
    content: "";
    position: absolute;
    top: -15px;
    width: 20px;
    height: 35px;
    background: red;
    border-radius: 100px 100px 0 0;

}

.like-logo--red::before {
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.like-logo--red::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.feedback-group-review {
    width: 50%;
}

.feedback-group__title {
    font-size: 2.0vw;
    margin: 0;
}

.point {
    direction: rtl;
    font-size: 1.5vw;
    text-align: left;
}
    
.point input[type="radio"] {
    display: none;
}
    
.point label {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
}
    
.point input[type="radio"]:checked~label {
    color: rgb(1, 63, 245);
}
    
.point label:hover,
.point label:hover~label {
    color: rgb(1, 63, 245);
}

.comment {
    margin: 30px 0 0 0;
}

.feedback-group__comment-area {
    background: rgb(238, 238, 238);
    width: 100%;
    height: 150px;
    margin: 15px 0 0 0;
    font-size: 1.2vw;
    padding: 2%;
}

.feedback-group__comment-text {
    font-size: 1.0vw;
    text-align: right;
    margin: 0 0 15px 0;
}

.photo-area {
    font-size: 1.0vw;
    text-align: center;
    background-color: white;
    margin: 15px 0 40px 0;
    padding: 40px 80px 40px 80px;
    display: inline-block;
    width: 100%;
}

.photo-area__text {
    margin: 0;
}

.feedback-review-btn__area {
    display: flex;
    justify-content: center;
    width: 100%;
}

.feedback-review-btn {
    background-color: white;
    border: none;
    color: black;
    width: 35vw;
    height: 50px;
    border-radius: 20px;
    font-size: 1.0vw;
    position: absolute;
    right: 30%;
}

.error-message__text {
    color: red;
    background: rgb(238, 238, 238);
    margin: 0;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    .shop-group {
        width: 50vw;
    }

    .feedback-group {
        flex-direction: column;
        padding: 0 3%;
        margin-bottom: 100px;
    }

    .feedback-group-shop,
    .feedback-group-review {
        width: 100%;
        margin: 0;
        border: none;
    }
}