.mypage {
    width: 100%;
}

.mypage__text {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.mypage__group {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
}


/* reserve */
.mypage__reserve-heading {
    display: flex;
    justify-content: space-between;
}

.mypage__reserve-heading-title {
    font-size: 20px;
    font-weight: bold;
}

.mypage__reserve__link-text {
    display: flex;
    align-items: center;
    color: green;
}

.mypage__reserve {
    width: 40%;
}

.mypage__reserve__shop {
    width: 100%;
    border-radius: 8px;
    background-color: rgb(33, 75, 224);
    color: white;
    font-size: 15px;
    border: none;
    padding: 35px;
    margin-bottom: 30px;
}

.mypage__reserve__shop-heading {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.mypage__reserve__shop-text {
    display: flex;
}

.mypage__reserve__error-message {
    display: flex;
    color: red;
    font-size: 1.5vw;
    align-items: center;
    margin: 0;
}

.mypage__reserve-title {
    display: flex;
    margin: 0;
    font-size: 1.5vw;
    align-items: center;
}

.mypage__cancel-btn {
    background-color: rgb(33, 75, 224);
    color: white;
    border: 1px solid white;
    padding: 1px 6px;
    font-size: 15px;
}

.mypage__update-btn {
    margin: 0 0 0 auto;
    display: block;
    font-size: 1.0vw;
}

.mypage__reserve-table {
    font-size: 18px;
}

.mypage__reserve-row {
    display: flex;
    margin-top: 25px;
    font-size: 1.3vw;
}

.mypage__reserve-label {
    margin-right: 70px;
}

.mypage__reserve-txt {
    background-color: rgb(33, 75, 224);
    border: none;
    color: white;
    font-size: 1.3vw;
    width: max-content;
}

.mypage__reserve-row:last-of-type .mypage__reserve-label {
    margin-right: 42px;
}

.img-clock {
    width: 30px;
    height: 30px;
    margin: 0 30px 0 0;
}

@media (max-width: 768px) {
    .mypage__reserve {
        width: 50%;
    }

    .mypage__reserve-row,
    .mypage__reserve-txt {
        font-size: 2.2vw;
    }

    .mypage__update-btn {
        font-size: 2.0vw;
    }
}

/* like */
.mypage__like {
    width: 53%;
}

.mypage__like-heading {
    font-size: 20px;
    font-weight: bold;
}

.mypage__like__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mypage__like__shop {
    width: 45%;
    height: fit-content;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 1px gray;
    margin: 0 15px 30px 0;
}

.mypage__like__content {
    padding: 15px;
    background-color: white;
    border-radius: 8px;
}

.mypage__like__content-text {
    font-weight: bold;
    font-size: 1.7vw;
    margin: 0;
}

.mypage__like__content-detail {
    display: flex;
    text-decoration: none;
    padding: 0;
    margin: 7px 0 7px 0;
}

.mypage__like__content-tag {
    padding: 0 10px 0 0;
    font-size: 1.2vw;
}

.mypage__like__img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.mypage__like__group-form {
    display: flex;
    justify-content: space-between;
}

.mypage__like__group-btn {
    display: flex;
    justify-content: space-between;
}

.detail__btn {
    width: 100%;
    border-radius: 8px;
    background-color: rgb(33, 75, 224);
    color: white;
    height: 100%;
    font-size: 1.1vw;
    border: none;
    padding: 5px 15px;
}

.like__btn {
    width: 20%;
    background-color: white;
    height: 35px;
    font-size: 13px;
    border: none;
    content: '♡';
}

.like__logo-red {
    width: 60px;
    height: 60px;
    left: -40px;
    position: relative;
}

.like__logo-red::before,
.like__logo-red::after {
    content: "";
    position: absolute;
    top: -15px;
    width: 20px;
    height: 35px;
    background: red;
    border-radius: 100px 100px 0 0;

}

.like__logo-red::before {
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.like__logo-red::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@media (max-width: 768px) {
    .mypage__like {
        width: 45%;
    }

    .mypage__like__group {
        justify-content: center;
    }

    .mypage__like__shop {
        width: 100%;
    }

    .mypage__like__content-text {
        font-size: 3.0vw;
    }

    .mypage__like__content-tag {
        font-size: 2.0vw;
    }

    .detail__btn {
        font-size: 2.0vw;
    }
}