select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
}

.search-form {
    display: flex;
    grid-column: 3 / 6;
    justify-self: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 1px gray;
    width: 70%;
    height: 45px;
    padding: 10px;
}

.search-form__location,
.search-form__category {
    width: 20%;
    margin-right: 20px;
    position: relative;
}

.search-form__location::after,
.search-form__category::after {
    position: absolute;
    top: 60%;
    right: 0.5vw;
    width: 0;
    height: 0;
    border-top: 12px solid #BEB1A6;
    border-right: 0.5vw solid transparent;
    border-left: 0.5vw solid transparent;
    content: "";
    transform: translateY(-50%);
}

.search-form__keyword {
    border: none;
    width: 19vw;
    font-size: 1.0vw;
}

.search-form__location-select,
.search-form__category-select {
    font-size: 1.0vw;
}

.search-logo {
    margin: 5px 15px 0 0;
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 0.7em;
    height: 0.7em;
    border: 0.1em solid currentColor;
    border-radius: 50%;
    box-sizing: content-box;
    position: relative;
}

.search-logo::before {
    content: '';
    position: absolute;
    top: calc(85.35534% + 0.07071em);
    left: calc(85.35534% + 0.07071em);
    width: 0.336em;
    height: 0.1em;
    background: currentColor;
    border-radius: 0 0.1em 0.1em 0;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: left center;
}

.shop {
    padding: 0 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 50px;
    width: 100%;
}

.shop-group {
    width: 23.5%;
    height: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 1px gray;
    margin: 0 15px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shop-content {
    padding: 15px;
    background-color: white;
    border-radius: 8px;
}

.shop-content__text {
    font-weight: bold;
    font-size: 1.5vw;
    margin: 0;
}

.shop-content__detail {
    display: flex;
    text-decoration: none;
    padding: 0;
    margin: 7px 0 7px 0;
}

.shop-content-tag {
    padding: 0 10px 0 0;
    width: fit-content;
    font-size: 1vw;
}

.shop-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.shop-group-form {
    display: flex;
    justify-content: space-between;
}

.shop-group-btn {
    display: flex;
    justify-content: space-between;
}

.detail-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    border-radius: 8px;
    background-color: rgb(33, 75, 224);
    color: white;
    font-size: 1vw;
    border: none;
    white-space: nowrap;
}

.like-btn {
    width: 20%;
    background-color: white;
    height: 35px;
    font-size: 13px;
    border: none;
    content: '♡';
}

.like-logo {
    width: 60px;
    height: 60px;
    left: -50px;
    position: relative;
}

.like-logo::before,
.like-logo::after {
    content: "";
    position: absolute;
    top: -15px;
    width: 20px;
    height: 35px;
    background: rgb(214, 214, 214);
    border-radius: 100px 100px 0 0;

}

.like-logo::before {
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.like-logo::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.like-logo--red {
    width: 60px;
    height: 60px;
    left: -50px;
    position: relative;
}

.like-logo--red::before,
.like-logo--red::after {
    content: "";
    position: absolute;
    top: -15px;
    width: 20px;
    height: 35px;
    background: red;
    border-radius: 100px 100px 0 0;

}

.like-logo--red::before {
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.like-logo--red::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@media (max-width: 1200px) {
    .shop-group {
        width: 31%;
    }

    .search-form__keyword,
    .search-form__location-select,
    .search-form__category-select {
        font-size: 1.1vw;
    }
}

@media (max-width: 992px) {
    .shop-group {
        width: 44%;
    }

    .search-form__keyword,
    .search-form__location-select,
    .search-form__category-select {
        font-size: 1.2vw;
    }

    .shop {
        justify-content: space-around;
    }
}

@media (max-width: 768px) {
    .shop-group {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .search-form__keyword,
    .search-form__location-select,
    .search-form__category-select,
    .shop-content-tag {
        font-size: 1.7vw;
    }

    .shop-content__text {
        font-size: 3.0vw;
    }

    .search-form {
        grid-column: 2 / 6;
        width: 70%;
    }

    .detail-btn {
        width: 20vw;
        border-radius: 8px;
        background-color: rgb(33, 75, 224);
        color: white;
        font-size: 1.7vw;
        border: none;
        padding: 2% 3%;
        white-space: nowrap;
    }
}