.message-form {
    margin-top: 50px;
    border: 1px solid black;
    height: 40vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 1px gray;
}

.message-form__text {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 40px 0;
}

.thanks-form-btn {
    background-color: rgb(48, 93, 255);
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    border: none;
}

@media (max-width: 768px) {
    .message-form {
        width: 80vw;
    }
}